.deck-button {
  display: flex;
  justify-content: center;
  padding: 70px 160px;
  background-color: #226d68;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  margin: 80px auto;
  max-width: 600px;
  position: relative;
  box-shadow: 5px 5px 10px black;
  border: 10px solid #ecf8f6;
  z-index: 1;
  transition: background-color 0.1s ease;
}

.deck-button:hover {
  background-color: #1e8f87;
}
.deck-pending {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 9%;
  background-color: #18534f;
  font-size: 1.5rem;
  color: #fff;
  width: 90%;
  border: 10px solid #ecf8f6;
  border-radius: 20px;
  padding: 2%;
}
.modif-button {
  background-color: #feeaa1;
  border-radius: 20px;
  border: 0px;
  width: 38px;
  height: 38px;
  color: #18534f;
  padding: 4px 4px;
  text-align: center;
  box-shadow: 1px 1px 20px #000000;
  position: absolute;
  left: 49%;
  z-index: 2;
  transform: translate(600%, -600%);
  transition: background-color 0.2s ease;
}

.modif-button:hover {
  background-color: #bba865;
}
.fa-pen {
  font-size: 1.4rem;
}
@media screen and (max-width: 1400px) {
  .deck-button {
    padding: 40px 60px;
    font-size: 16px;
    max-width: 380px;
    min-width: 280px;
    margin: 40px auto 10vh;

    display: flex;
    justify-content: center;
  }

  .modif-button {
    transform: translate(350%, -460%);
  }
}
@media screen and (max-width: 768px) {
  .deck-button {
    padding: 40px 60px;
    font-size: 16px;
    max-width: 380px;
    min-width: 280px;

    display: flex;
    justify-content: center;
  }
}
