.deck-button {
  display: flex;
  justify-content: center;

  padding: 70px 160px;
  background-color: #226d68;
  color: #fff;
  font-family: 'Love Ya Like A Sister';
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  margin: 80px auto;
  max-width: 600px;
  position: relative;
  box-shadow: 5px 5px 10px #18534f;
  z-index: 1;
}

.modif-button {
  background-color: #feeaa1;
  border-radius: 20px;
  border: 0px;
  width: 38px;
  height: 38px;
  padding: 4px 4px;
  text-align: center;
  box-shadow: 1px 1px 20px #000000;
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translate(600%, -600%);
}

.fa-pen {
  color: #18534f;
  font-size: 1.5rem;
}

.footer-list {
  margin-top: 10vh;
}
/* .deck-card-title {
  color: ;
}  */

@media screen and (max-width: 1400px) {
  .deck-button {
    padding: 40px 60px;
    font-size: 16px;
    max-width: 380px;
    min-width: 280px;
    margin: 40px auto 10vh;

    display: flex;
    justify-content: center;
  }

  .modif-button {
    transform: translate(350%, -460%);
  }
}
