.icone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.buttonIcone-import {
  background-color: #feeaa1;
  border-radius: 10px;
  border: 0px;
  width: 80px;
  height: 80px;
  box-shadow: 3px 3px 10px black;
  transition: all 0.2s ease;
}

.buttonIcone-import:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.fa-circle-down {
  position: absolute;
  margin-bottom: 10px;
  color: #18534f;
  transform: translate(-50%, -50%);
  font-size: 4em;
}

.modal {
  text-align: center;
}

.button-modal {
  background-color: #226d68;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-modal:hover {
  background-color: #1e8f87;
}

@media screen and (max-width: 1200px) {
  .icone-import {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
