.card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  transition: transform 0.8s;
  margin: 10vh auto;
  border: 10px solid #d6955b;
  border-radius: 25px;
}

.card.flipped {
  transform: rotateY(360deg);
}

.card .recto,
.card .verso {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 15px;
  backface-visibility: hidden;
}

.card .recto {
  background-color: #226d68;
}

.card .verso {
  transform: rotateY(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .card {
    width: 150px;
    height: 225px;
    margin: 5vh auto;
  }
}
