.Welcome {
  justify-content: center;
  margin: auto;
  align-items: auto;
  display: flex;
  text-align: center;
  margin: 10%;
  background-color: #226d68;
  box-shadow: 5px 5px 10px black;
  border: 10px solid #ecf8f6;
  border-radius: 20px;
  color: white;
}
@media screen and (max-width: 1200px) {
  .Welcome {
    margin: 10%;
    text-align: center;
  }
}
