.Welcome {
  justify-content: center;
  margin: auto;
  align-items: auto;
  display: flex;
  text-align: center;
  margin-top: 10%;
}
@media screen and (max-width: 1200px) {
  .Welcome {
    margin: 30%;
    text-align: center;
  }
}
