.icone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.icone-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.buttonIcone-add {
  position: relative;
  background-color: #feeaa1;
  border-radius: 10px;
  border: 0px;
  padding: 5px 5px;
  width: 80px;
  height: 80px;
  box-shadow: 3px 3px 30px #18534f;
  margin-right: 5vh;
  margin-left: 5vh;
  margin-bottom: 3vh;
}

.fa-plus-square {
  position: absolute;
  margin-bottom: 10p;
  color: #18534f;
  font-size: 2em;
  transform: translate(-50%, -50%) rotate(90deg); /* Centrer l'icône et appliquer une rotation de 45 degrés */
  color: #18534f;
  font-size: 4em;
}

.modal {
  text-align: center;
  margin-bottom: 20px;
}

.button-modal {
  background-color: #226d68;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  padding: 2px 6px;
}

@media screen and (max-width: 1200px) {
  .icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-top: 4vh;
  }

  .buttonIcone {
    margin-right: 5vh;
    margin-left: 5vh;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 1200px) {
  .icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-top: 4vh;
  }

  .buttonIcone {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
