.icone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  margin-left: 35vh;
  margin-right: 35vh;
  margin-top: 5vh;
}

@media screen and (max-width: 1200px) {
  .icone {
    justify-content: space-between;
    margin-right: 25vh;
    margin-left: 25vh;
  }
}
