.icone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10vh;
  margin-top: 8vh;
}

.icone button {
  padding: 20px 30px;
  margin-right: 7vh;
  background-color: #feeaa1;
  border-radius: 10px;
}
