.icone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18vh;
  margin-top: 5vh;
}

.icone button {
  padding: 20px 30px;
  margin-right: 15vh;
  background-color: #feeaa1;
}
