.header {
  background-color: #226d68;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header h1 {
  text-align: center;
  flex-grow: 1;
  padding-left: 0;
  font-size: 8vh;
  margin-left: 25px;
}

.header button {
  margin-left: 10px;
  margin-right: 10px;
}

.header-logo {
  width: 15vh;
}
