.header {
  background-color: #226d68;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
  padding-left: 22vh;
}

.header button {
  margin-left: 10px;
}
