.know-button {
  display: flex;
  justify-content: space-around;
  margin-left: 65vh;
  margin-right: 60vh;
  margin-top: 10vh;
  margin-bottom: 30px;
}

.button {
  padding: 20px 30px;
  margin-right: 7vh;
  background-color: #feeaa1;
  border-radius: 10px;
}

.return-button {
  background-color: #feeaa1;
  border-radius: 20px;
  padding: 8px 30px;
  margin-left: 40px;

  text-decoration: none;
  color: black;
}
