.button {
  display: inline-flex;
  padding: 70px 160px;
  background-color: #226d68;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 64vh;
  margin-top: 10vh;
  border-radius: 20px;
}
